html, body
  margin: 0
  padding: 0
body
  background-image: url(../images/banner.jpg)
  // background-repeat: no-repeat
  background-size: cover
  background-position: center center
  font: 14px 'microsoft yahei'
  color: #4d4d4d
  font-weight: 400
